{% if breadcrumbs|length %}
<ul class="breadcrumbs">
    {% for crumb in breadcrumbs %}
        {% set crumbPath = path(crumb.route, crumb.routeParameters) %}
        {% set crumbText = crumb.label|trans(crumb.labelParameters) %}

    <li{% if crumb.route == app.request.get('_route') %} class="current"{% endif %}>
        <a href="{{ crumbPath }}" title="{{ crumbText }}">{{ crumbText }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
